// base styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: top;

  &::before,
  &::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

body {
  font-size: 18px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
  width: auto;
}

.wrapper {
  width: 100%;
  max-width: 1124px;
  margin: 0 auto;
}