// base styles
* {
  margin: 0;
  padding: 0;

  &::before,
  &::after {
    margin: 0;
    padding: 0;
  }
}

body {
  font-size: 18px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
  width: auto;
}