//content

.first-section {
  margin-bottom: 72px;

  &__title {
    margin-bottom: 38px;
  }

  &__content {
    width: 49.7%;
    font-size: 18px;
    line-height: 28px;
    display: inline-block;

    &:last-of-type {
      padding-left: 20px;
    }
  }
}

.second-section {
  padding: 85px 0 58px 0;
  margin-bottom: 113px;
  background-color: $light-gray;

  &__title {
    margin-bottom: 39px;
    position: relative;
    left: -5px;
  }

  &__content {
    margin-bottom: 38px;
  }

  &__image {
    display: inline;
    float: left;
    margin-right: 40px;
    margin-top: 6px;
  }

  &__paragraph {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.0119em;
  }

  &__cta {
    display: block;
    margin: 0 auto;
    width: 201px;
    padding: 12px 20px 12px 32px;
    position: relative;
    left: 15px;
  }
}