//gallery
.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  &__item {
    height: 404px;
    margin-bottom: 70px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;

    &:nth-of-type(3n + 1) {
      width: 402px;
    }

    &:nth-of-type(3n + 2) {
      width: 416px;
    }

    &:nth-of-type(3n + 3) {
      width: 387px;
    }
  }

  $class-slug: image !default;

  @for $i from 1 through 9 {
    .#{$class-slug}-#{$i} {
      background-image: url("../images/background-#{$i}.jpg");
    }
  }
}