//header

.header {
  background-image: url("../images/seacost.jpg");
  background-size: auto;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 760px;



  &__upper {
    margin-bottom: 186px;
    padding: 62px 102px 0 113px;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    font-size: 60px;
    line-height: 75px;
    color: $black;
    letter-spacing: 2px;
    margin-bottom: 0;
  }

  &__navigation {
    display: inline-block;
  }






  &__hero {
    margin: 0 0 0 56.6%;
  }

  &__heading {
    margin-bottom: 29px;
    max-width: 420px;
  }

  &__subheading {
    font-size: 21px;
    font-weight: $font-weight-normal;
    max-width: 268px;
    letter-spacing: 0.01em;
    display: inline-block;
  }

  &__cta {
    margin-top: 4px;
    vertical-align: top;
  }
}