//nav

.navigation {

  &__menu {
    list-style-type: none;
    display: flex;
    padding-top: 24px;
  }

  &__menu-item {
    margin-right: 52px;
    position: relative;

    &:first-of-type {
      margin-right: 68px;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__link {
    display: inline-block;
    font-weight: $font-weight-extrabold;
    font-size: 30px;
    line-height: 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: $black;
    padding: 8px 0;

    &:hover {
      color: lighten($black, 35%);
    }
  }
}

.submenu {
  position: absolute;
  left: calc(50% - 85px);
  display: none;
  flex-flow: column nowrap;
  width: 170px;
  padding: 10px 0;
  background-color: $submenu-background;
  list-style-type: none;
  border-radius: 7px;
  box-shadow: 0px 6px 10px 3px rgba(0,0,0,0.2);

  .active & {
    display: flex;
  }

  &__link {
    font-weight: $font-weight-bold;
    font-size: 19px;
    line-height: 19px;
    text-decoration: none;
    color: $black;
    padding: 11px;
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    text-align: center;

    &:hover {
      color: lighten($black, 35%);
    }
  }
}